
.box-img {
    height: 400px;
    background-image: url(../../img/guide/emergency_3.jpg);
    background-position: 0px -65px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    margin-bottom: 40px;
    margin-top: 30px;
}


svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
    color: #777;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


.fa-3x {
    color: #ee791c99;
    font-size: 3em;
    width: 1.25em;
}

td  h6 {
    color: #5a72cc;
    font-size: 17px;
    font-weight: 500;
}
td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.text-info {
    font-size: 15px;
    color: #ee791c;
}
table {
    border-top: 2px solid #555;
    border-bottom: 1px solid #555;
    border-spacing: 0;
    text-align: center;
    /* min-width: 680px; */
    margin: auto;
}
.table>:not(caption)>*>* {
    padding: 1.5rem 1.0rem;
    padding-top: 0;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.text-left h5 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;
}

tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1.5px solid #777;
}
tr td:nth-of-type(1) {
    border-right: 0px solid transparent;
    border-bottom: 0;
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
    box-sizing: border-box;
}
.text-left {
    font-size: 13px;
    color: #777;
    line-height: 25px;
    border-right: 0;
}
.text-left h6 {
    margin: 10px 0;
}

.d-lg-none {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin: 15px 0;
    display: none;
}

table,
.emerg tr:last-child .text-left {border-bottom: 0 ;}
.emergency {
    display: none !important;
}
@media (max-width: 800px) {
    .box-img {background-position: -30px 0px;}
}
@media (max-width: 767px) {
    .title_icon_box h4 {display: flex; flex-direction: column; }
    .emerg tr {display: flex; flex-direction: column; width: 100%; border-top: 1px solid #666;}
    .table-responsive-lg {
        overflow-x: scroll;
    }
    .d-lg-none  {display: block;}
    /* table {text-align: left; } */
    /* .table>:not(caption)>*>* {padding: 0 0.5rem;} */
    .table>:not(caption)>*>*, tr td:nth-of-type(1){padding: 0.5rem 0.5rem; padding-top: 0;}
    .text-left h5 span {padding: 0rem 0rem; margin-bottom: 10px;}
    .text-left h5 {font-size: 17px;}
    .text-left {line-height: 25px;}
}
@media (max-width:770px) {
    .main > .container {
        max-width: 600px !important;
    }
}
@media (max-width: 550px) {
    .box-img {background-position: 0px 0px;}
    .box-img {height: 300px;}
}
@media (max-width: 500px) {.box-img {height: 270px;}}
@media (max-width: 430px) {.box-img {height: 240px;}}
@media (max-width: 412px) {.box-img {background-position: 0px 0px;}}
@media (max-width: 400px) {.box-img {background-position: -15px 0px;} .title_icon_box h4, .col-lg-12 h4 {margin: 0 !important;}}
@media (max-width: 380px) {.box-img {background-position: -15px 0px;}}
@media (max-width: 360px) {.box-img {background-position: 0px 0px; height: 180px;}}
@media (max-width: 300px) {.emergency {display: block !important; text-align: center;}}
@media (max-width: 360px) {.box-img {background-position: 0px 0px; height: 140px;}}