body{font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;}

/* main */
.main {
    width: 100%;
    max-width: 2000px;
    background-color: #fff;
}
p,h1,h2,h3 {margin: 0;}
#alpha_img {
    display: none !important;
}

/* .swiper_box3, .swiper_box2 {overflow: hidden !important;} */
.img_box {margin: 0 !important;}
.item_caption {
    width: 100%;
    height: 100%;
}
.mb_img {
    display: none !important;
}
.desk_img {
    height: 100%;
}

.swiper_text_box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    top: 20%;

    text-align: left;
}
.s_text_box {
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0 50px;
    box-sizing: border-box;
}
.s_h1 {
    font-size: 50px;
    margin: 0;
}
.s_h4 {
    font-size: 40px;
    margin: 0;
}
.s_p {
    font-size: 35px;
    margin: 0;
}
.s_btn_more {
    padding: 8px 30px 10px;
    box-sizing: border-box;
    background-color: #ED5929;
    border-radius: 30px;
    color: #fff;
}


.box_max_width {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* short_cut_box */

.short_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hosptial_box,
.on_affiliated_h_box,
.cancer_h_box,
.on_tv_box,
.prof_box,
.clinic_box {
    width: calc((100% - (15px * 2)) / 3);
    height: 300px;
    background-color: cornflowerblue;
    display: inline-block;

    position: relative;
}
.on_affiliated_h_box,
.cancer_h_box,
.prof_box,
.clinic_box {margin: 0 15px 15px 0;}
.hosptial_box,
.on_tv_box {margin: 0 0 15px 0;}

.hosptial,
.on_affi_h,
.cancer_h,
.on_tv,
.prof,
.clinic {
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.hosptial a,
.on_affi_h a,
.cancer_h a,
.on_tv a,
.prof a,
.clinic a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.clinic_box {background-color: #0AA2E5;}
.prof_box {background-color: #F596B4;}
.on_tv_box {background-color: #4283E1;}
.cancer_h_box {background-color: #55C7C8;}
.on_affiliated_h_box {background-color: #B485D5;}
.hosptial_box {background-color: #F8BD83;}

.shorts_back_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .15;
}

/* short_cut mb */
.short_cut_mb {
    display: none;
}
.short_mb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hosptial_mb,
.on_affiliated_h_mb,
.cancer_h_mb,
.on_tv_mb,
.prof_mb,
.clinic_mb {
    width: calc(100% / 3);
    height: 300px;
    display: inline-block;
    text-align: center;
}

.hos_mb,
.on_affi_mb,
.can_mb,
.on_mb,
.p_mb,
.cli_mb {
    font-size: 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.next_s {position: relative;}
.next_s::after {
    content: "";
    width: 1px;
    height: 35px;
    background-color: #ddd;
    position: absolute;
    top: 40px;
    left: 50%;
}
.next_s::before {
    content: "";
    width: 1px;
    height: 35px;
    background-color: #ddd;
    position: absolute;
    bottom: 100px;
    left: 50%;
}
.before::before {
    content: "";
    width: 1px;
    height: 35px;
    background-color: #ddd;
    position: absolute;
    bottom: 80px;
    left: 50%;
}
.box_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shorts_img {
    width: 11%;
}
.rotate {
    transform: rotate(-90deg);
}
.mb_tv_img {
    display: none;
}
.desk_shorts_img {
    width: 11%;
}
.width2{
    width: 9% !important;
}
.width3 {width: 16% !important;}


/* news_box */
.news_box {
    padding-bottom: 50px;
    word-break: break-all;
    background-color: #fff !important;
    
    background: url(../img/index/back_img_2.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.n_flex_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0px; /* 20px */
    flex-direction: column;
    align-items: center;
}
.today_menu_box,
.employment_box,
.press_report_box,
.notice_box {
    width: calc((100% - 60px)/4);
    display: inline-block;
    word-break: break-all;
    position: relative;
}
.news_thumb {background-color: #e14252; width: 100%; height: 200px; overflow: hidden;}
.news_thumb img {
    border-bottom: 1px solid #eee;}

.today_menu,
.employment,
.press_report,
.notice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 15px #7a7a7a;
}

.none {
    display: inline-block !important;
}
.news_title_box {
    height: 56px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #333;
}
.n_title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.n_title::after {
    content: "+";
    font-size: 25px;
    font-weight: 600;
    margin: 0;

    position: absolute;
    left: 90%;
    width: 15px;
}
.more_plus {
    width: 30px;
    height: 100%;
    position: relative;
    left: 70px;
}
.plus {
    width: 30px;
    height: 35px;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
.first {
    width: 100%;
    border-top: 1px solid #eee;
}
.notice_img,
.pr_img,
.emp_img,
.t_menu_img {
    width: 100%;
    height: 100%;
}
.news_title {
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    line-height: 50px;
    padding: 0 15px;
     box-sizing: border-box;
     border-bottom: 1px solid #eee;
}
.news_title a {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.first:hover .news_thumb > img{
    transform: scale(1.1);
    transition: all 1s linear;
}


.mySwiper3 .swiper-pagination {
    display: block !important;
}
/* on_news_s */
.on_news_s h3 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    color: #333;
}
.c_group_tv_box {
    background: url(../img/index/back_img_big.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 100px;
}
.swiper_box2 {
    padding-top: 20px; 
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

/* on_tv */
.swiper_box3 .swiper-slide img {
    max-width: 960px;
}

.swiper_box3 {
    padding-bottom: 30px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
.tv_title {
    font-size: 60px;
    font-weight: 700;
    padding: 30px 0 60px 0;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}
.tv_swiper_slide {
    position: relative;
}
.pop_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn_play {
    display: block;
    padding: 33px 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
}
.play_icon {
    width: 50px !important;
    height: 60px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    z-index: 9;
}

/* semi 맨 마지막 배너 */
.semi_black_box {
    font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;
    min-height: 90vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color: #F8BD83;
}
.semi_box::after {
    content: "";
    width: 100%;
    height: 100vh;
    min-height: 90vh;
    background-image: url(../img/index/semi_back_img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    transition: all 1s linear;
    display: inline-block;
    
}
.semi_black_overlay {
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    position: absolute;
    top: 0;
}
.semi_text_box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    color: #fff;
    max-width: 1400px;
    text-align: center;
}
.semi_black_title {
    font-weight: 500; 
    font-size: 2.5rem; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.semi_black_title img {
    transform: rotate(180deg);
}
.semi_black_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.75rem;
}
.btn_semi {
    padding: 15px 30px;
    border: 2px solid;
    margin-top: 10px;
    font-weight: 500;
}
.btn_semi:hover {color: #ED5929; border-color: #fff;}

/* cooperaiton */
.swiper_box4 {
    padding: 20px 0;
    box-sizing: border-box;
}
.col {
    padding: 0 40px;
}

@media (max-width: 1600px) {
    .btn_play {
        width: 50px !important;
        height: 50px !important;
    }
    .play_icon {
        width: 30px !important;
        height: 40px !important;
    }
    .swiper_box2 {
        padding: 100px 0 80px 0 !important;
    }
}
@media (max-width: 1400px) {
    .nav_height {justify-content: center !important;}
}
@media (max-width: 1300px) {
    .s_h1 {font-size: 40px;}
    .s_h4 {font-size: 30px;}
    .s_p {font-size: 25px;}
    .s_btn_more {
        padding: 4px 20px 6px;
        font-size: 16px;
    }
    .swiper_box2 {
        padding: 60px 0 40px 0 !important;
    }
    .c_group_tv_box {padding-bottom: 60px;}
}
@media (max-width: 1200px) {
    /* .swiper_box3, .swiper_box2  {min-height: 600px !important;} */
    .semi_black_content {font-size: 1.5rem;}
    .semi_black_title {font-size: 2.0rem;}
    .short_cut_box {
        display: none !important;
    }
    .short_cut_mb {
        display: block;
    }
    .swiper_box2 {
        padding: 0 !important;
    }
    .box_max_width {height: 60vh;}

}
@media (max-width: 1100px) {
    .s_h1 {font-size: 40px;}
    .s_h4 {font-size: 30px;}
    .s_p {font-size: 25px;}
    .s_btn_more {
        padding: 6px 30px 8px;
        font-size: 16px;
    }
    .btn_play {
        width: 30px !important;
        height: 30px !important;
    }
    .play_icon {
        width: 25px !important;
        height: 30px !important;
    }
    .box_max_width {height: 80vh;}

}
@media (max-width: 1000px) {
    .semi_black_title {font-size: 35px;}
    .semi_black_content {font-size: 24px;}
    .news_box {        
        background: url(../img/index/back_m_1.png) no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media (max-width: 991px) {
    .desk_img {display: none !important;}
    .mb_img {display: block !important;}
    .swiper,
    .swiper-slide {
        max-height: 991px !important;
    }
    .n_flex_box {
        flex-wrap: wrap;
    }
    .today_menu_box, .employment_box, .press_report_box, .notice_box {
        width: calc((100% - 60px)/2);
    }
    .news_title {
        line-height: 50px;
        word-break: break-all;
    }
    .news_thumb{
        height: 100%;
        background-color: #fff;
    }
    .btn_play {
        width: 50px;
        height: 50px;
    }
    
    
    .semi_black_title {font-size: 28px;}
    .semi_black_content {font-size: 21px;}
    
}
@media (max-width: 850px) {
    .semi_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
}
@media (max-width: 768px) {
    .hos_mb, .on_affi_mb, .can_mb, .on_mb, .p_mb, .cli_mb {
        font-size: 17px;
    }
    .btn_play {
        width: 20px;
        height: 20px;
    }
    .play_icon {
        width: 23px !important;
        height: 30px !important;
    }

    .s_h1 {font-size: 30px;}
    .s_h4 {font-size: 20px;}
    .s_p {font-size: 15px;}
    .s_btn_more {
        padding: 4px 20px 6px;
        font-size: 16px;
    }
    .none {
        display: none !important;
    }

    .semi_black_title {font-size: 22px;}
    .semi_text_box {gap: 10px;}
    .semi_black_content {font-size: 17px !important;}
    .semi_row {flex-direction: column;}
    .btn_semi {padding: 10px 20px; font-size: 13px;}
    .contain {margin: inherit !important;}


    .c_group_tv_box {
        padding-bottom: 40px;
    }
    .box_max_width {height: 100vh !important;}


}
@media (max-width: 670px) {
    .semi {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}
@media (max-width: 620px) {
    .box_max_width {
        height: 60vh !important;
    }
}
@media (max-width: 600px) {
    .s_h1 {font-size: 25px;}
    .s_h4 {font-size: 20px;}
    .s_p {font-size: 15px;}
    .s_btn_more {
        padding: 2px 10px 4px;
        font-size: 13px;
    }
    .s_text_box {padding: 0 30px;}
    
    .semi_text_box {padding: 0 10px; box-sizing: border-box;}
    .semi_black_title {font-size: 25px;}
    .semi_black_content {font-size: 16px;}
    .btn_semi {padding: 10px 20px; font-size: 15px;}
    
    .semi_row {
        flex-direction: column;
    }
    .on_news_s h3, .tv_title {font-size: 30px;}
        
}
@media (max-width:575px ) {
    .hosptial_mb,
    .on_affiliated_h_mb,
    .cancer_h_mb,
    .on_tv_mb,
    .prof_mb,
    .clinic_mb {
        width: calc((100% - 10px) / 3);
        height: 100px;
        box-sizing: border-box;
    }
    .on_tv_mb,
    .prof_mb,
    .clinic_mb  {
        border: 1px solid #ddd;
        border-bottom: none;
    }
    .hosptial_mb,
    .on_affiliated_h_mb,
    .cancer_h_mb {border: 1px solid #ddd;}
    .next_s::after,.next_s::before {display: none;}

    .mb_tv_img {display: inline-block; width: 12%;}
    .shorts_img {display: none;}
}

@media (max-width:530px) {
    .on_news_s h3 {
        margin-bottom: 30px;
    }

    

}
@media (max-width: 500px) {
    .main .container {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .btn_play {
        width: 0;
        height: 0;
    }
    .play_icon {
        width: 23px !important;
        height: 30px !important;
    }
    .s_h1 {font-size: 20px;}
    .s_h4 {font-size: 15px;}
    .s_p {font-size: 10px;}
    .s_btn_more {
        padding: 2px 8px 4px;
        font-size: 12px;
    }
    .semi_text_box {gap: 20px;}
    .f_text_box,.f_nav_ul {padding: 0 10px ;}

    .semi_black_title {font-size: 22px;}
    .semi_black_content {font-size: 16px !important;}
    .btn_semi {padding: 10px 20px; font-size: 13px;}


    
    .today_menu_box, .employment_box, .press_report_box, .notice_box {width: 100%;}
    .news_title_box {justify-content: flex-start;}
    .more_plus {padding-top: 5px;}
    .today_menu, .employment, .press_report, .notice {flex-direction: row; border: none; }
    .news_thumb {width: 30%; height: 97%; display: inline-block;}
    .news_title {width: 69%; height: 100px; display: inline-block; white-space: pre-wrap; padding: 4% 15px; line-height: 30px !important;}
    .first {border: none;}
    .n_flex_box {padding: 0 10px;}


    .news_box_m {padding: 40px 0 0 0 ;}
    .box_max_width {
        height: 40vh !important;
    }
    .c_group_tv_box {
        padding-bottom: 60px;
    }
    /* .semi_box {
        width: 100%;
        height: 100vh;
        min-height: 90vh;
        background-image: url(../img/index/semi_back_img_1.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        box-sizing: border-box;
        transition: all 1s linear;
        
    } */
}
@media (max-width: 380px) {
    .hos_mb, .on_affi_mb, .can_mb, .on_mb, .p_mb, .cli_mb {
        font-size: 12px;
        word-break: break-all;
        box-sizing: border-box;
    }
    .n_title {font-size: 18px;}
    .btn_play {
        padding: 23px 25px;
        width: 15px !important;
        height: 15px !important;
    }
    .play_icon {
        width: 16px !important;
        height: 20px !important;
    }
    .s_h1 {font-size: 12px;}
    .s_h4 {font-size: 7px;}
    .s_p {font-size: 5px;}
    .s_btn_more {
        padding: 2px 6px 4px;
        font-size: 5px;
    }
    .s_text_box {padding: 0 5px; gap: 6px;}
    .semi_text_box {gap: 10px;}
    .box_btn {
        flex-direction: column;}
    
    .next {
        width: 100%;
    }
    .tv_title {
        padding: 0;
        padding-bottom: 30px !important;
    }
    .news_title{width: calc((60% - 10px) / 1);}
    .news_thumb {width: calc((40% ) / 1);}
    .news_title {line-height: 20px !important;}
    
    .mb_tv_img {display: inline-block; width: 15%;}
    .width3 {width: 21% !important;}
    .width2 {width: 13% !important;}
}