body {font-family: 'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif;}
.one_doctor_box {border-bottom: none; padding-top: 0 !important; margin-bottom: 100px !important}
.mv_ul {
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 1px solid #dee2e6; */
}

.none {display: none !important;}
.l_img {
    font-size: 0 !important;
}
.l_img_box {
    width: 100%;
    font-size: 0 !important;

}
.c_left_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.content_box{display: flex; flex-direction: column;}
.c_right_box{
    width: 100% !important;
    padding: 0 !important;
    background-color: transparent !important;
    border: 0px solid transparent !important;
}
.top_center_box{
    width: 100%;
    background: url(../img/medi_details/main_banner_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* grid-template-columns: repeat(2, 1fr); */

    margin-bottom: 48px;
}
.tc_backgrounc_c {
    background-color: #00000033;

}
.tc_container{
    width: 100%;
    max-width: 1300px;
    padding-top: 85px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.doctor_ext_2 {
    width: 100%;
    color: #333;
    display: none;
    padding: 36px 24px;
    box-sizing: border-box;
    border-radius: 10px;
}
.doctor_ext {
    width: 100%;
    background: rgba(0,0,0, .6);
    color: #fff;
    padding: 36px 24px;
    box-sizing: border-box;
    border-radius: 10px;
}
.doctor_name_box {
    position: static !important;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: transparent !important;
}
.doctoer_field{font-size: 18px;}
.doctor_name {
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
}
.doctor_field_box{
    margin: 16px 0;
}
.doctor_field_box div:first-child {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}
.doc_field_text{font-size: 17px; font-weight: 400;}
.t_bg_light {
    background-color: transparent !important;
}
.bottom_table {
    color: #fff !important;
}
.bottom_table > tbody th {
    width: 100px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid transparent;
}
.bottom_table > thead {
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

.c_top_btn_box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 36px;
}
.none_span_iframe {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 36px;
}
.ct_top_after {
    width: 100%;
    height: 3px;
    background-color: #ee791c;

    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.c_top_btn_box > span {
    padding: 15px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #ebebeb;
    color: #777;

    position: relative;
}
.c_top_btn_box span:first-child{border-right: none;}
.c_top_btn_active{
    background-color: #f9f9f9 !important;
    border-color: #ebebeb !important;
    color: #222 !important;
}
.cbc_con_box > iframe {
    width: 100%;
    height: 700px;
}
.cbc_con_box {
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.cb_1 .cbc_con_box {
    height: 100%;
    max-height: 150px;
    overflow: hidden;
}
.cbc_pan::-webkit-scrollbar {
    width: 3px;
}
.cbc_pan::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: #ED5929; /* #217af4 */

    border-radius: 10px;
}
.cbc_pan::-webkit-scrollbar-track {
    background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
}

.cb_common_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cbc_title_box{
    font-size: 22px;
    font-weight: 500;
    color: #333;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    
    border-bottom: 1px solid #ddd;
}
.one_doctor_box > div {border-bottom: none ;}
.cbc_con{
    width: 100%;
    max-width: 90%;
    margin-bottom: 48px;
}
.cbc_con:nth-child(4),
.cbc_con:nth-child(3) {
    margin-bottom: 0 !important;
}
.cbc_title_box > span:first-child {
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
}
.cbc_title_box > span img {
    width: 100%;
}
.cbc_pan {
    display: flex;
    flex-direction: column;
    color: #666;
    font-size: 15px;
    font-weight: 300;
    gap: 5px;
    padding-left: 24px;
    max-height: 150px;
    height: 100%;
    overflow-y: auto;
}
.cb_common_box .cbc_pan {
    display: flex;
    flex-direction: column;
    color: #666;
    font-size: 15px;
    font-weight: 300;
    gap: 5px;
    padding-left: 24px;
    max-height: 150px;
    height: 100%;
    overflow-y: auto;
}

.cb_2 {
    display: none;
}
.cbc_pan span::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #ee791c;
    border-radius: 50%;
    display: inline-block;
    transform: translate(-10px, -3px);
}








.mv_li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #0d6efd;
}
.mv_li >a {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: block;

    line-height: 52px;
    padding: 0 55px;
}
.active {
    border: 1px solid #dee2e6 ;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: rgb(29,90,40);
}


.tab_pan {
    padding: 24px 0 48px 0;
    display: flex;
    flex-direction: column;
    color: #666;
    font-size: 15px;
    font-weight: 300;
}
.pan3,
.pan2 {
    display: none;
}
.none {display: none;}
.block {
    display: flex;
}


.rounded {
    padding: 10px 35px;
    height: auto !important;
    background-color: #f15f31;
    color: #fff !important;
    text-shadow: 0 0 0;
    border-radius: 5px !important;
}
.pan4 {
    width: 100%;
}
.one_doctor_box > div {padding-bottom: 0 !important; margin-bottom: 0 !important;}

.more_view_box .container {
    overflow: hidden;
}
table * {box-sizing: border-box;}


.back_btn {
    display: none;
    align-items: center;
    justify-content: center;

    background: #ee791c;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    z-index: 99999999;
}
.sorry_img {
    width: 100%;
    max-width: 10%;
    height: 100%;
}

@media (max-width: 1300px) {
    .tc_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .doctor_ext {display: none;}
    .doctor_ext_2 {display: inline-block;}
    .doctoer_field {
        color: #ee791c !important;
        font-weight: 500;
    }
    .top_center_box {margin-bottom: 0 !important;}
    .doctor_name, .doctor_ext_2 .bottom_table, .doctor_ext_2 .bottom_table > tbody th {color: #333 !important;}
    .doc_f_t > span {
        display: block;
    }
    .doc_comma {
        width: 5px;
        height: 5px;
        background-color: #444;
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 5px;
    }
}
@media (max-width: 1200px) {
    .back_btn {display: flex;}
    .more_view_box > .container {
        max-width: 900px;
    }
    .c_top_btn_box {font-size: 16px ; }
    .c_top_btn_box > span {padding: 10px 0;}
}

@media (max-width:1100px) {
    .cbc_con {max-width: 100%;}
    .cbc_title_box > span:first-child {max-width: 40px; max-height: 40px;}
    .cbc_1_2 .cbc_title_box span:nth-of-type(1) {max-width: 45px; max-height: 45px;}
    .cbc_con_box > iframe {
        width: 100%;
        height: 500px;
    }
    .cb_common_box {
        grid-template-columns: repeat(1, 1fr);
    }
    .cbc_con:nth-child(3) {
        margin-bottom: 48px !important;
    }
    .cbc_con{max-width: 100%;}
    .top_center_box {grid-template-columns: 1fr !important; }
    .c_left_box {
        width: 100%;
        text-align: center;
        height: 100%;
    }
    .cr_bot{width: 100%; overflow: auto !important;}
    .bottom_table { white-space: nowrap;   border-collapse: collapse;}
    .bottom_table > tbody th {max-width: 100px;}
    .doctor_ext_2, .doctor_ext {overflow: hidden;}

    .cr_bot::-webkit-scrollbar {
        width: 3px;
        height: 2px;
    }
    .cr_bot::-webkit-scrollbar-thumb {
        height: 1%;
        background-color: #ED5929; /* #217af4 */
    
        border-radius: 10px;
    }
    .cr_bot::-webkit-scrollbar-track {
        background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
    }
    .cb_common_box {padding: 0 20px; box-sizing: border-box;}
}
@media (max-width: 1000px) {
    .more_view_box > .container {
        max-width: 800px;
    }
}
@media (max-width: 900px) {
    .more_view_box > .container {
        max-width: 700px;
    }
}
@media (max-width: 767px) {
    .more_view_box > .container {
        max-width: 600px;
        padding: 0 50px;
        box-sizing: border-box;
    }
    .one_doctor_box{width: 90% !important;}
    .cbc_con_box > iframe {
        width: 100%;
        height: 450px;
    }
    .one_doctor_box {
        width: 100% !important;
    }
    
    
}
@media (max-width: 600px) {
    .sorry_img {max-width: 30%;}
    .mv_li >a {
        padding: 0 40px;
    }
    .one_doctor_box {margin-bottom: 60px !important;}
    .cbc_title_box {justify-content: center;}
}
@media (max-width:575px) {
    .cbc_con_box > iframe {
        height: 300px;
    }
}
@media (max-width: 500px) {
    .mv_li >a {
        padding: 0 30px;
    }
    .more_view_box > .container {
        padding: 0 30px;
    }
}
@media (max-width: 400px) {
    .mv_ul {gap: 10px; border: none;}
    .mv_li {width: 100%;
        }
    .mv_li >a {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        background-color: #f8f8f8;
    }
    .cbc_con_box > iframe {
        height: 200px;
    }
    .c_left_box {
        width: 100%;
        text-align: center;
        height: 100%;
    }
    .doc_field_text{font-size: 16px;}
    .doctor_field_box{margin-top: 24px;}
    .doctor_name{padding: 0 !important;}
}
@media (max-width:300px) {
    .cbc_con_box > iframe {
        height: 150px;
    }
    .c_left_box {
        width: 100%;
        text-align: center;
        height: 100%;
    }
}