body {font-family:'Open Sans','Noto Sans KR','Apple SD 산돌고딕 Neo','Apple SD Gothic Neo','나눔고딕',NanumGothic,ng,sans-serif ;}


table a {white-space: nowrap !important;}
.main_center {height: 100%; min-height: 600px;}
.title_box > p {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 20px;
}

.pagination .active {
    background: #ee791c;
    color: #fff;
    font-weight: 800;
}

.pagination ol {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    color: #555;
    gap: 10px;
    margin-top: 26px;
    padding-left: 0 !important;
}
.pagination li {
    display: inline-block;
    border-radius: 50%;

    width: 40px;
    height: 40px;
}
.pagination li a:hover {
    background-color: #888;
    border: 1px solid #888;
    color: #fff;
}
.pagination li a:active {
    background-color: #ee791c;
    border: 1px solid #ee791c;
    color: #fff;
}
.pagination_active {
    background-color: #ee791c !important;
    border: 1px solid #ee791c !important;
    color: #fff !important;
}
.pagination li a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #dee2e6;
    border-radius: 50%;
}
.table {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse; 
    border-spacing: 0
}
.table > thead th {
    background-color: #ee791c30;
    border-top: 2px solid #444547;
    border-bottom: 1px solid #999;
    font-weight: 400;

    padding: 15px 10px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #777;
    text-align: left;
}
.table > tbody td {
    padding: 15px 10px;
    box-sizing: border-box;
    border-top: 1px solid #999;
    color: #777;
}

.t_center {text-align: center;}
.color {
    color: #555 !important;
}

.table > tbody tr:hover {
    background: #fcf3ed;
}


.turn_table_box {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.t_btn {
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    color: #6c757d;
    font-size: 13px;
    border-radius: 50%;
}
.t_num_btn {border-left: none; border-right: none;}
.t_btn:hover {
    background-color: #f1f4f7;
    border: 1px solid #dee2e6;
}
.t_num_btn:hover  {border-left: none; border-right: none;}
.m_select_nav_box {
    margin-bottom: 30px;
}

@media (max-width: 1150px) {
    .m_right {
        width: 100% !important;
    }
    .main_center > .container {
        max-width: 820px !important;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .d_none {
        display: none !important;
    }
    .right {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .main_center > .container {
        max-width: 540px !important;
    }
}
@media (max-width: 500px) {
    .last, .first {display: none !important;}
}

@media (max-width: 300px) {
    .pagination li {
        width: 30px;
        height: 30px;
    }
    .pagination li a {line-height: 30px;}
}