/*------------------------------------------------------------
**
** Owl Stage
**
--------------------------------------------------------------*/
.owl-carousel .owl-video-tn {
	background-size: cover;
	padding-bottom: 45%; /* 16:9 */
	padding-top: 25px;
}

.owl-video-frame {
	position: relative;
	padding-bottom: 45%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.owl-video-frame iframe {
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
}

.pop-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px;
    z-index: 2;
}
.pop-play .btn-play {
    display: block;
    padding: 33px 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    border: 2px solid #fff;
    border-radius: 50%;
}



@media (max-width: 991px) {

}
@media (max-width: 480px) {

}
