    body {font-family: 'Noto Sans KR';}
        .mySwiper2  {width: 73% !important;}
      .mySwiper2 .swiper,
      .mySwiper_1 .swiper {
        width: 100%;
        height: 100%;
      }
  
      .mySwiper2 .swiper-slide,
      .mySwiper_1 .swiper-slide {
        text-align: center;
        font-size: 18px;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
  
      .mySwiper2 .swiper-slide img,
      .mySwiper_1 .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
  
      .swiper-button-prev, .swiper-button-next {
        color: #6A3907 !important;
        font-weight: 700 !important;
      }
      
      .mySwiper2 .swiper,
      .mySwiper_1 .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .mySwiper2 .swiper-slide,
      .mySwiper_1 .swiper-slide {
        background-size: cover;
        background-position: center;
      }
  
  
      .gallery-thumbs .swiper-slide-active {
		opacity: 1;
        }

      .mySwiper3 {
        height: 10%;
        box-sizing: border-box;
        padding: 10px 0;
        margin-top: 12px;
        margin-left: 50px !important;
      }
      .mySwiper_1 {
        box-sizing: border-box;
        padding: 10px 0;
        margin-top: 12px;
      }
      .swiper_flex {
        display: flex;
        justify-content: center;
      }
      .thum_v {
        flex-direction: column;
        appearance: none;
        gap: 5px;
      }
      .mySwiper3,
      .mySwiper_1 {
        width: 100%;
        max-width: 150px;
        height: 100%;
        max-height: 300px;
        margin: 0 !important;
      }
      .mySwiper_1 .swiper-wrapper {
        flex-direction: column;
        gap: 10px;
      }
  
      .mySwiper3 .swiper-slide {
        width: 110px !important;
        height: 100%;
        opacity: 0.5;
        cursor: pointer;

      }
      swiper-slide-thumb-active {opacity: 1 !important;}
      .mySwiper_1 .swiper-slide {
        width: 70px !important;
        height: 100%;
        opacity: 0.5;
        cursor: pointer;
      }
      .opacity_active{
        opacity: 1 !important;
      }
  
      .mySwiper2 .swiper-slide {
        background-color: transparent !important;
      }
  
  
      .mySwiper2 .swiper-slide img,
      .mySwiper_1 .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


.div {
    height: 100%;
    width: 100%;
}

.t_1 {
    padding: 10px 0;
    box-sizing: border-box;
}
.t_2 {
    padding: 10px 0;
    box-sizing: border-box;
}



.mb-4 {margin: 0 !important;}
.swiper-pagination {
    text-align: center;
}


.mySwiper1 .swiper-pagination-fraction, 
.mySwiper1 .swiper-pagination-custom, 
.mySwiper1 .swiper-horizontal > .mySwiper1 .swiper-pagination-bullets, 
.mySwiper1 .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 3px !important;
    right: 110px !important;
}

.mySwiper2 .swiper-pagination-bullet-active,
.mySwiper1 .swiper-pagination-bullet-active {
    background-color: #ee791c;
    transition: all 0.2s linear;
    width: 20px;
    border-radius: 20px;
}

.mySwiper2 .swiper-slide img {
    width: 130%;
    transform: translateX(-11%);
    border-radius: 15px;
}


.subway_box {
    margin-bottom: 46px;
}
.img_box {
    width: 65px;
    height: 65px;
    min-width: 65px;
    max-width: 65px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
.img_box_call {
    width: 45px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
.call_box .mr-4 {
    margin-bottom: 3px;
}
.call_svg {
    width: 60%;
}
.sub img {width: 43% !important;}
.car img {width: 55% !important;}
.img_box img {width: 50%;}
.sub_title_b {
    display: flex;
    align-items: center;
    gap: 15px;
}
.sub_title_b .mb-3 {
    color: #ee791c;
}
.text_box_bus {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.em {
    color: #555 !important;
}
.span{
    color: #666 !important;
    margin-left: 20px;
}

.subway_box:nth-of-type(2) {
    grid-row: 1/3;
    grid-column: 2;
    margin-bottom: 0 !important;
}


.section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top_banner {
    width: 100%;
    /* background-color: #FBF8F1; */
}
.top {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 36px;
}
.call_box {
    background-color: #FBF8F1;
    border-radius: 20px;
    padding: 10px 20px;
    color: #555;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}
.mb-lg-0 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cont .title2 {
    color: #6A3907;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 12px;
    justify-content: center;
}
.color1  {
    color: #6A3907;
}

.context_top {
    margin-top: 56px !important;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 700px;
}
.cont div {
    font-size: 16px;
    color: #777;
    line-height: 25px;
    margin-bottom: 12px;
}
.cont h5 {
    font-size: 18px;
    font-weight: 500;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
    color: #ee791c !important;
}
.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}




.best_box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.best_re {
    width: 100%;
    /* background-color: #FBF8F1; */
    border: 10px solid #FBF8F1;
    border-radius: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: center;
}
.pl-5 {
    font-size: 18px;
    font-weight: 500;
}
.pl-5 b {
    font-weight: 900;
}
.section1 {
    margin: 36px 0;
}
.section1_span {
    color: #ee791c !important;
}

.line-left {
    border-left: 3px solid #26C6DA;
    font-size: 23px;
    font-weight: 500;
    margin: 20px 0 40px 0;
    /* padding-left: 10px; */
    line-height: 1;
}

.mb-4 .col-lg-6 {text-align: center; width: 100%;}
.col-lg-6 img {
    width: 100%;
    text-align: center;
    margin-right: auto!important;
    margin-left: auto!important;
}

.section2 .mb-4 {
    font-size: 16px !important;
    font-weight: 500;
    color: #666;
    text-align: left;
    box-sizing: border-box;
    padding-left: 80px;
}
.section2 .mb-3,
.section1 .mb-3,
.section1 .mb-4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}
.section2 .mb-3,
.section1 .mb-3 {margin: 0px !important;}

.col-lg-10 h6 {
    font-size: 16px;
    font-weight: 500;
    color: #5a72cc;
    margin: 10px 0;
}
.col-lg-10 .mb-3,
.col-lg-10 {
    font-size: 15px;
    color: #777;
    font-weight: 400;
}
/* .col-lg-12 .mb-4 {
    display: flex;
    gap: 10px;
    flex-direction: column;
} */

.marTop {
    margin-top: 40px;
}

.border  {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    
}

.box * {display: inline-block; margin: 0; }
.box {
    width: 24%; /* 24*/
    /* background-color: #FBF8F1; */
    border: 10px solid #FBF8F1;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #222 ;
}
.th {
    width: 100%;
}
.th h5 {
    font-weight: 600 !important;
    color: #333;
}
.td {
    width: 50%;
}
.td h5 {font-weight: 700 !important; color: #6A3907bd;}
.no-gutters {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.table_b {
    text-align: center;
    /* border-radius: 20px; */
    overflow: hidden;
    width: 100%;
    font-size: 25px;

    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 46px;
}
.font-myeongjo {
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.6;
    font-weight: 700;
    text-align: center !important;
    font-size: 23px;
}

.col-lg {
    text-align: center;
}

.margin_b {
    margin-top: 106px !important;
}



.best_re:nth-of-type(3) h5 {padding-top: 15px;}



@media (max-width: 1400px) {
    .best_re:nth-of-type(3) h5 {padding-top: 0px;}
}
@media (max-width: 1290px) {
    .best_re:nth-of-type(1) h5 {padding-top: 15px;}
    .best_re:nth-of-type(4) h5 {padding-top: 5px;}
}
@media (max-width: 1200px) {
    .best_re:nth-of-type(1) h5 {padding-top: 25px;}
}

@media (max-width:1450px) {
    .box {width: 100%;}
}

@media (max-width: 1150px) {
    .best_re:nth-of-type(1) h5 {padding-top: 15px;}
    .best_re:nth-of-type(4) h5 {padding-top: 5px;}
    .best_re:nth-of-type(3) h5 {padding-top: 5px !important;}
    .best_re:nth-of-type(2) h5 {padding-top: 0px !important;}
}

@media (max-width: 900px) {
    .best_re:nth-of-type(1) h5 {padding-top: 25px;}
    
    .subway_box:nth-of-type(2) {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 0 !important;
    }
    .section2 {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .mySwiper1 .swiper-pagination-fraction, 
    .mySwiper1 .swiper-pagination-custom, 
    .mySwiper1 .swiper-horizontal > .mySwiper1 .swiper-pagination-bullets, 
    .mySwiper1 .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 10px !important;
        right: 110px !important;
    }

    .mySwiper2 .swiper-pagination,
    .mySwiper1 .swiper-pagination {
        text-align: center;
    }
    .div {max-width: 100%; margin-top: 24px;}
    .mySwiper_1  {width: 100%; max-width: 63% ;  width: 100%; max-width: 500px;}

}
@media (max-width: 800px) {
    .best_re:nth-of-type(1) h5,
    .best_re:nth-of-type(2) h5,
    .best_re:nth-of-type(3) h5,
    .best_re:nth-of-type(4) h5 {padding-top: 0px;}
    .best_box {
        grid-template-columns: repeat(1, 1fr);
    }
    .table_b {flex-direction: column;}
}
@media (max-width: 600px) {
    
    .mySwiper2 .swiper-slide img {
        width: 100%;
        transform: translateX(0);
    }
    .mySwiper_1 {max-width: 100px !important;}
}
@media (max-width: 450px) {
    
    .call_box {flex-wrap: wrap !important;}
    .img_box_call {width: 25px; height: 25px; padding-right: 5px;}
    .call_svg {width: 80%;}
    .top {
        padding: 10px 10px;
        margin-bottom: 26px;
    }
    .cont .title2 {font-size: 24px;}
    .cont h5 {font-size: 16px;}
    .best_re {padding: 10px 10px;}
    .section2 .mb-3, .section1 .mb-3, .section1 .mb-4 {font-size: 17px;}
    /* .swiper {overflow: inherit !important;} */



    .mySwiper2 .swiper-pagination-fraction, 
    .mySwiper2 .swiper-pagination-custom, 
    .mySwiper2 .swiper-horizontal > .mySwiper2 .swiper-pagination-bullets, 
    .mySwiper2 .swiper-pagination-bullets.swiper-pagination-horizontal,
    .mySwiper1 .swiper-pagination-fraction, 
    .mySwiper1 .swiper-pagination-custom, 
    .mySwiper1 .swiper-horizontal > .mySwiper1 .swiper-pagination-bullets, 
    .mySwiper1 .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -00px !important;
        right: 110px !important;
    }
    .best_re:nth-of-type(4) h5 {
        display: flex;
        flex-direction: column;
    }
    .context_top {margin-top: 46px !important;}
    .section1 {
        margin-top: 16px;
    }
    .title_icon_box{margin-bottom: 0px;}
    .section2 .mb-4{padding-left: 0px;}
    .section2 {padding: 0 10px;}
    .text_box {margin-top: 10px;}
    .mo {
        display: none;
    }

    
    .mySwiper_1  {width: 100%; max-width: 100% ;}
    .mySwiper3 {margin-left: 10px !important;}
    .box {height: calc(20% / 3);}
    .div { margin-bottom: 66px;}
    .line_box,
    .border .bg-color1 {line-height: 60px !important;}
    .table_b {font-size: 20px;}

    .mySwiper_1 .swiper-wrapper {flex-direction: row; gap: 0; justify-content: center;}
    .thum_v {flex-direction: row; justify-content: center;}
    .mySwiper3, .mySwiper_1 {margin-bottom: 10px !important;}
    .no-gutters, .swiper_flex {flex-direction: column;}
    .mySwiper3 .swiper-slide {width: 50px !important;}
    .mySwiper_1 {max-width: 100% !important;}
    .margin_b {margin-top: 16px !important;}
    .mySwiper_1 .swiper-slide {width: 50px !important;}
    .font-myeongjo {font-size: 18px;}

    .mySwiper2 .swiper-slide img {
        width: 130%;
        transform: translateX(-11%);
        border-radius: 15px;
    }


}
@media (max-width: 300px) {
    .section2 {padding: 0;}
}