.wrap {overflow-y: hidden;}
body {font-family: 'Noto Sans KR';}
.swiper {height: auto !important;}
.mySwiper4 .swiper-wrapper, .mySwiper4 .swiper-slide img {height: auto !important;}
.mb-4 {
    margin-bottom: 0 !important;
}
.m_flex_box{
    gap: 50px !important;
}
.m_flex_box > .mb-4 {margin-bottom: 20px;}
.his_li span:nth-of-type(3) {
    text-align: left;
    color: #444;
}
.icon {margin-top: 1px;}
.every_btn {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    background-color: #ee791c;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}
.every_m_btn {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    background-color: #ee791c;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    display: none;
}

.d-lg-flex {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}
.history {
    margin-top: 10px;
    position: relative;
    display: flex;
}
.year_bar {
    margin-bottom: 36px;
    display: flex;
    width: 100%;
    gap: 15px;
}

.col-lg-3 {
    background: url(../../img/guide/history_l.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

/* 재 디자인 */
.his_total_box {
    height: 6700px ;
    width: 100%;
    flex: 14;
}
.his_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(10%);
}
.his_left_box {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.year {
    font-size: 40px;
    color: #eb5f22;
    height: 50px;
    margin: -10px 0;
}
.line_box {
    width: 200px;
    height: 1px;
    background-color: #eb5f22;
    margin-bottom: 5px;
}

.his_right_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid #ddd;
    padding-bottom: 60px;
    text-align: center;
}
.his_li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.h_l_month {
    width: 40px;
    min-width: 40px;
    color: #eb5f22;
    font-size: 16px;
    font-weight: 500;
}
.h_l_circle_2 {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border-radius: 50%;

    position: relative;
    left: -7px;
}
.h_l_circle {
    width: 13px;
    height: 13px;
    min-width: 13px;
    max-width: 13px;
    background-color: #eb5f22;
    border-radius: 50%;

    position: relative;
    left: -7px;
}

#h_13 .his_right_box{
    padding-bottom: 250px !important;
}
#h_12 .his_right_box {
    padding-bottom: 250px !important;
}

/* .col-lg-3 */
.font-oswald {
    width: 100%;
    font-family: 'Oswald' !important;
    font-weight: 500;
    color: #597288 !important;
    text-align: center;
    font-size: 20px;
}
.no-gutters {
    padding: 20px 0 ;
    box-sizing: border-box;
    border-top: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;
}
.font-oswald {
    width: 100%;
}
.em {
    font-weight: 500;
    color: #444;
}
.his_shorts_button {
    /* position: fixed; 
    top: 44%;
    left: 29%; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 9;


    flex: 1;
}

.his_sb_title {
    font-size: 26px;
    font-weight: 600;
    z-index: 99;
    top: -1%;
    transform: translateX(48%);
    font-family: S-Core_Dream !important;
    color: #ee791c;
    text-shadow: 0 0 2px #ee791c80;

}

.his_shorts_button::-webkit-scrollbar {
    width: 3px;
}
.his_shorts_button::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: #ff9f1c; /* #217af4 */

    border-radius: 10px;
}
.his_shorts_button::-webkit-scrollbar-track {
    background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
}
.hs_b  {
    font-size: 25px;
    font-weight: 700;
    color: #ddd;
    cursor: pointer; 
    /* ee791c */
}
.hs_b:hover {
    color: #ee791c;
}
.m_active_display {
    display: flex !important;
}




.fix {
    position: fixed;
    top: 100px;
}
.margin_l {
    margin-left: 101px;
}
.miner {
    top: -1% !important;
}










/* 영어버전에서 글이 길어져서 맨위 점 위치 transform으로 변경 */
#h_9 .his_li:nth-of-type(1) .h_l_circle,
#h_11 .his_li:nth-of-type(1) .h_l_circle {transform: translateY(-7px);}


@media only screen and (max-width: 1650px) {
    .his_box {
        margin-left: 5%;
    }
    .his_li span:nth-of-type(3) {max-width: 400px;}
}
@media only screen and (max-width: 1400px) {
    .history {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .his_shorts_button {
        left: 18%;
    }
    .his_sb_title {
        display: none;
    }

    .history {margin-top: 0;}
    .his_total_box {
        width: 90%; 
        margin: auto;
        position: relative;
        /* padding-bottom: 200px; */
        box-sizing: border-box;
    }
    .his_box {
        width: 100%;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        margin-left: 0;
        transform: translateX(0);

        background-color: #fff;

        display: none;
    }
    .his_left_box {
        flex-direction: column;
        width: 100%;
    }
    .line_box {width: 70%;}

    .mb-4 .col-lg-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
   
    .h_l_month {text-align: left; width: auto !important;}
    .his_li {text-align: left; gap: 10px !important;}
    /* .h_m_left {padding: 0 10px;} */

    .his_shorts_button::-webkit-scrollbar {
        width: 30%;
        height: 3px;
    }
    .his_shorts_button::-webkit-scrollbar-thumb {
        height: 1px;
        background-color: #ff9f1c; /* #217af4 */
    
        border-radius: 10px;
    }
    .his_shorts_button::-webkit-scrollbar-track {
        background: rgba(244, 68, 33, 0.1); /*  rgba(33, 122, 244, .1)*/
    }

    .year_bar {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1300px) {
    .his_shorts_button {
        gap: 5px;
    }
    .his_right_box {margin: auto;}
    .icon_title {
        display: none;
    }
}
@media only screen and (max-width: 1150px) {
    .his_total_box {width: 100% !important;}
    .his_box {align-items: center;}

    .year_bar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .m_flex_box {
        gap: 30px !important;
    }
    
    .his_shorts_button {
        position: static;
        transform: translate(0, 0);
        flex-direction: row;
        width: 100%;
        max-width: 600px;
        height: auto;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 10px 0;
    }
    .every_m_btn {    
        display: inline-block;
    }
    .every_btn {display: none;}
}
@media (max-width: 991px) {
    .d-lg-flex {
        flex-direction: column;
        justify-content: flex-start;
    }
    .col-lg-9 {
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    
    .year_bar {margin-bottom: 26px !important; margin: auto; text-align: center;}
    #h_13 .his_right_box, #h_12 .his_right_box {
        padding-bottom: 150px !important;
    }

    .his_shorts_button {
        position: static;
        transform: translate(0, 0);
        flex-direction: row;
        width: 100%;
        max-width: 260px;
        height: auto;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 550px) {
    .his_shorts_button {width: 260px;}
    .his_li {
        gap: 5px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .his_right_box {border: none;}
    .h_l_circle {display: none;}
    .h_l_circle_2 {display: none;}
    .h_l_month {white-space: nowrap; text-align: center;}
    .m_flex_box {
        gap: 10px !important;
    }
    .year_bar {flex-direction: column; gap: 0 !important;}
    .m_flex_box{
        gap: 20px !important;
    }
    .his_right_box {padding-bottom: 30px;}
    
}
@media only screen and (max-width: 380px) {
    .his_total_box {height: 700px;}
}